<!-- 引入样式 -->
<link rel="stylesheet" href="lk-main/web/lib/element-ui/lib/theme-chalk/index.css">

<div id="app">
  <el-button @click="visible = true">按钮</el-button>
  <el-dialog :visible.sync="visible" title="Hello world">
    <p>欢迎使用 Element</p>
  </el-dialog>
</div>  
<script>
  ShowWaitting(true); 
  //element框架需要先加载完js才能正常使用
  $.getScript("lk-main/web/lib/element-ui/lib/index.js",function(){
    ShowWaitting(false);
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      }
    })
  }); 
</script> 

